<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.gmv.sportsimulator.servicelocator.sportsimulator">
      <sportServiceFactory
            class="com.gmv.sportsimulator.tennis.servicefactory.TennisServiceFactory"
            id="com.gmv.sportsimulator.tennis.servicefactory">
      </sportServiceFactory>
   </extension>

</plugin>
