<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="\Project\Release_Management\launchers"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/eud.delivery.tool/src/eud/delivery/tool/EudDeliveryHelper.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="workspace_loc" value="${workspace_loc}"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eud.delivery.tool.EudDeliveryHelper"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="eud.delivery.tool"/>
</launchConfiguration>
