<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.gmv.course.sportsimulator.display.GeneralView"
            icon="icons/sports/sports.png"
            id="com.gmv.course.sportsimulator.display.generalview"
            name="General Sports View"
            restorable="true">
      </view>
      <view
            class="com.gmv.course.sportsimulator.display.TeamView"
            id="com.gmv.course.sportsimulator.display.teamview"
            name="Team Detailed View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.gmv.course.sportsimulator.display.startsimulation"
            name="Start Simulation">
      </command>
      <command
            id="com.gmv.course.sportsimulator.display.startallsimulations"
            name="Start All Simulations">
      </command>
      <command
            id="com.gmv.course.sportsimulator.display.stopsimulation"
            name="Stop Simulation">
      </command>
      <command
            id="com.gmv.course.sportsimulator.display.stopallsimulations"
            name="Stop All Simulations">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.gmv.sportsimulator.generalviewmenu">
         <command
               commandId="com.gmv.course.sportsimulator.display.startallsimulations"
               icon="icons/sports/sport.png"
               label="Start All Simulations"
               style="push">
         </command>
         <command
               commandId="com.gmv.course.sportsimulator.display.startsimulation"
               icon="IMG_ELCL_SYNCED"
               label="Start Simulation"
               style="push">
         </command>
         <command
               commandId="com.gmv.course.sportsimulator.display.stopallsimulations"
               icon="IMG_ELCL_REMOVEALL"
               label="Stop All Simulations"
               style="push">
         </command>
         <command
               commandId="com.gmv.course.sportsimulator.display.stopsimulation"
               icon="IMG_ELCL_REMOVE"
               label="Stop Simulation"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.gmv.course.sportsimulator.display.handlers.StartSimulationHandler"
            commandId="com.gmv.course.sportsimulator.display.startsimulation">
      </handler>
      <handler
            class="com.gmv.course.sportsimulator.display.handlers.StartAllSimulationsHandler"
            commandId="com.gmv.course.sportsimulator.display.startallsimulations">
      </handler>
      <handler
            class="com.gmv.course.sportsimulator.display.handlers.StopAllSimulationsHandler"
            commandId="com.gmv.course.sportsimulator.display.stopallsimulations">
      </handler>
      <handler
            class="com.gmv.course.sportsimulator.display.handlers.StopSimulationHandler"
            commandId="com.gmv.course.sportsimulator.display.stopsimulation">
      </handler>
   </extension>

</plugin>
