<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse-Luna-2.0.0_Development_EUD3.2.0" sequenceNumber="25">
<locations>
<location path="${eclipse_home}/S12E4BL_Target" type="Profile"/>
<location path="${eclipse_home}/S12E4BL_Target/dropins/Eclipse-Delta-Pack_4.4.1" type="Directory"/>
<location path="${eclipse_home}/S12E4BL_DEVTools/E4-Tools/eclipse" type="Directory"/>
<location path="${eclipse_home}/S2K_BACKEND_API" type="Directory"/>
<location path="${eclipse_home}/EUD_3.2.0_Target" type="Directory"/>
<location path="${eclipse_home}/CMCP_3.2.0_Target" type="Directory"/>
<location path="${eclipse_home}/S12E4BL_TargetUpdates" type="Directory"/>
</locations>
</target>
