<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="SLES12_EUD3_Local_R3" sequenceNumber="2">
<locations>

<!-- LOCAL ECLIPSE LUNA SLES12 BASELINE -->

<!-- LOCAL ECLIPSE LUNA SLES12 Target updates -->

<!-- DARC & FARC API Plug-ins-->
	<location path="C:\D_EUD3/S12E4BL_DEVTools/E4-Tools/eclipse" type="Directory"/>
	<location path="C:\D_EUD3/S12E4BL_Target" type="Profile"/>
	<location path="C:\D_EUD3/S12E4BL_Target/dropins/Eclipse-Delta-Pack_4.4.1" type="Directory"/>
	<location path="C:\D_EUD3/S12E4BL_TargetUpdates" type="Directory"/>
	<location path="C:\D_EUD3/S2K_BACKEND_API" type="Directory"/>
</locations>
</target>